---
import Layout from '~/layouts/BaseLayout.astro';
import LeftSidebar from '~/components/docs/LeftSidebar.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

const { meta } = Astro.props;
---

<Layout {meta}>
	<Header />
	<div class="flex">
		<LeftSidebar />
		<main>
			<article class="prose lg:prose-md dark:prose-invert prose-code:markdowncode">
				<slot />
			  </article>
		</main>
	</div>
	<Footer />
</Layout>
