---
import StartPageLayout from '../layouts/StartPageLayout.astro';
---

<StartPageLayout>
	<main>
		<h1>Welcome to ETLBox</h1>
		<p>
			To get started, <a href="en/getting-started">click here</a>.
		</p>
	</main>
</StartPageLayout>

