---
import LeftSidebar from '../components/LeftSidebar/LeftSidebar.astro'
import * as CONFIG from '../config'
import Header from '../components/Header/Header.astro'
import BaseLayout from './BaseLayout.astro'
import type { MarkdownHeading } from 'astro'

type Props = {
    frontmatter: CONFIG.Frontmatter
    headings: MarkdownHeading[]
}

const { frontmatter, headings } = Astro.props as Props
const canonicalURL = new URL('https://www.etlbox.net')
//const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<BaseLayout
    title={frontmatter.title}
    descrption={frontmatter.description}
    canonicalUrl={canonicalURL}>
    <header class="w-full fixed opacity-70">
        <Header />
    </header>
    <main class="mt-12 grid grid-cols-6">
        <div class="w-64">
            <aside
                class="fixed overflow-y-scroll h-2/3"
                aria-label="LeftSidebar">
                <LeftSidebar />
            </aside>
        </div>
        <div class="p-2 col-start-2 col-span-4" aria-label="MainArticle">
            <article class="format lg:format-lg dark:format-invert">
                <slot />
            </article>
        </div>
        <div id="toc" class="p-2 col-start-6" aria-label="Table of Content">
            <aside class="fixed" title="Table of Contents">TOC</aside>
        </div>
    </main>
    <footer>
        <div>Footer</div>
    </footer>
</BaseLayout>
