---
import { getLanguageFromURL, KNOWN_LANGUAGE_CODES } from '../../languages';
import * as CONFIG from '../../config';
import SidebarToggle from './SidebarToggle';
import LanguageSelect from './LanguageSelect';
import Search from './Search';

type Props = {
	currentPage: string;
};

const { currentPage } = Astro.props as Props;
const lang = getLanguageFromURL(currentPage);
---

<header class="flex justify-around fixed opacity-90 h-30 w-full z-50 bg-white border-b dark:bg-black">
	<nav class="flex flex-row items-center w-full" title="Top Navigation">
		<div class="md:hidden">
			<SidebarToggle client:idle />
		</div>
		<div class="flex-grow w-3/5 font-bold text-xl">
			<a href="/">
				<h1>{CONFIG.SITE.title}</h1>
			</a>
		</div>
		<div class="flex-grow w-1/5"></div>
		{KNOWN_LANGUAGE_CODES.length > 1 && <LanguageSelect lang={lang} client:idle />}
		<div class="flex-grow w-1/5">
			<Search client:idle />
		</div>
	</nav>
</header>

