---
import { getLanguageFromURL, KNOWN_LANGUAGE_CODES } from '../../languages';
import * as CONFIG from '../../config';
import SidebarToggle from './SidebarToggle';
import LanguageSelect from './LanguageSelect';
import Search from './Search';

type Props = {
	currentPage: string;
};

const { currentPage } = Astro.props as Props;
const lang = getLanguageFromURL(currentPage);
---

<header class="flex justify-around fixed opacity-90 h-30 w-full z-50 bg-white border-b dark:bg-black">
	<nav class="flex flex-row items-center w-full" title="Top Navigation">
		<div class="md:hidden">
			<SidebarToggle client:idle />
		</div>
		<div class="flex-grow w-3/5 flex flex-row">
			<img class="basis-3" src="/logos/svg/logo_etlbox_32x32.svg" alt="ETLBox" width="32" height="32">
			<a class="basis-1" href="/">
				<h1 class="text-xl font-bold">{CONFIG.SITE.title}</h1>
			</a>
			<a class="basis-1" href="/Docs">Docs</a>
			<h3><a href="/Docs">Recipes</a></h3>
			<h3><a href="/Docs">API</a></h3>
			<h3><a href="/Docs">Pricing</a></h3>
			<h3><a href="/Docs">Support</a></h3>
		</div>
		<div class="flex-grow w-1/5"></div>
		{KNOWN_LANGUAGE_CODES.length > 1 && <LanguageSelect lang={lang} client:idle />}
		<div class="flex-grow w-1/5">
			<Search client:idle />
		</div>
	</nav>
</header>

